[submodule "modules/link"]
	path = modules/link
	url = https://github.com/stellare-modular/link.git
[submodule "Rack-SDK"]
	path = Rack-SDK
	url = https://github.com/stellare-modular/vcv-rack-sdk.git
	branch = v0.6
